body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to top, white, #FFFDD0);
    color: #333;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    
}


header {
    display: flex;
    padding: 0.8333333333333333%,0.8333333333333333%;
    background: linear-gradient(to right, #11cb39, #2575fc);
    width: 100%;
}

header img {
    width: 36.66666666666667%;
}

.eskuma {
    display: flex;
    align-items: center;
    
}
button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    margin-left: 0.8333333333333333%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
.menua {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0.4166666666666667%;
    padding-right: 20.83333333333333%;
    
}

.menua li a {
    border-bottom: 1px solid;
    border-right: 1px solid;
    align-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: color 1s ease-out;
    margin-left: 10px;
}
.menua li a:hover {
    color: rebeccapurple;
    
    
}

#karrito {
    position: relative;
    left: 130%;
    width: 5.859375%;
    

}

footer {
    width: 100%;
    clear: both;
    text-align: center;
    background-color: #2575fc;
    color: white;
    padding: 1.666666666666667%;
}

main section{
    display: flex;
    width: 49%;
    flex-wrap: wrap;
    align-content: end;
    float: right;
    padding: 0.8333333333333333%;
    margin: 0.8333333333333333%;
    border: 1px dashed;
    
}
section img{
    max-width: 100%;
    
    

}
aside{
    float: left;
    width: 45%;
    border: 1px dashed;
    display: grid;
    margin: 0.8333333333333333%;
    align-items: center;
    
}
aside img {
    flex-wrap:wrap;
    padding-bottom: 0.4166666666666667%;
    
    
    
}
.gorputza{
    max-width: 50%;
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(3, 2fr);
    gap: 1.6%;
    clear: both;

}