body {
    font-family: 'Arial', sans-serif;
    margin: 15px;
    background: linear-gradient(to top, white, #FFFDD0);
    color: #333;
    line-height: 1.6;
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #11cb39, #2575fc);
    color: white;
}

.eskerra img {
    max-width: 150px;
}

.eskuma {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menua {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 5px;
    padding-right: 250px;
    
}

.menua li a {
    border-bottom: 1px solid;
    border-right: 1px solid;
    align-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 2px 8px;
    margin-left: 10px;
}
.menua li a:hover {
    color: rebeccapurple;
    
    
}

#karrito, #perfila {
    width: 30px;
    height: auto;
}

footer {
    clear: both;
    text-align: center;
    background-color: #2575fc;
    color: white;
    padding: 20px;
}

main section{
    
    display: flex;
    width: 51%;
    flex-wrap: wrap;
    align-content: end;
    float: right;
    padding: 10px;
    margin: 10px;
    border: 1px dashed;
    
}
section img{
    max-width: 100%;
    
    

}
aside{
    float: left;
    width: 45%;
    border: 1px dashed;
    display: grid;
    margin: 10px;
    align-items: center;
    
}
aside img {
    flex-wrap:wrap;
    padding-bottom: 5px;
    
    
    
}
.gorputza{
    max-width: 50%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    clear: both;

}