body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to top, white, #FFFDD0);
    color: #333;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    
}


header {
    display: flex;
    padding: 0.8333333333333333% ,0.8333333333333333%;
    background: linear-gradient(to right, #11cb39, #2575fc);
    width: 100%;
}
header img {
    width: 36.66666666666667%;
}



.eskuma {
    display: flex;
    align-items: center;
    
}

.menua {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0.4166666666666667%;
    padding-right: 20.83333333333333%;
    
    
}

.menua li a {
    border-bottom: 1px solid;
    border-right: 1px solid;
    align-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: color 1s ease-out;
    margin-left: 10px;  
}
.menua li a:hover {
    color: rebeccapurple;
    
    
}

#karrito {
    position: relative;
    left: 130%;
    width: 5.859375%;
    
}

.section1 {
    display: flex;
    align-items: center;
    gap: 1.666666666666667%;
    margin-bottom: 2.5%;
}

.section1 img {
    width: 25%;
    border-radius: 0.8333333333333333%;
}

.section1-textua {
    flex: 1;
}

.section1-textua h2 {
    color: #6a11cb;
}

#ongietorria {
    text-align: center;
    margin-top: 1.666666666666667%;
    padding: 1.666666666666667%;
}

#ongietorria h1 {
    color: #2575fc;
}

.katua {
    display: block;
    margin: 1.666666666666667% auto;
    max-width: 33.33333333333333%
}
footer {
    clear: both;
    text-align: center;
    background-color: #2575fc;
    color: white;
    padding: 0.8333333333333333% ,0.8333333333333333%;
    width: 100%;
    
}
